<div class="alert well fade in" id="gal-issue" role="alert">
    <!-- TODO 添加关闭公告框功能 -->
    <button type="button" class="close" data-dismiss="alert">×</button>
    <!-- 这里自行配置公告内容 -->
    我是谁,我为什么在这里
    <br>
    <strong>_到底发生了什么</strong>
    <!-- 自行配置公告内容结束 -->
</div>