<section class="hidden-xs">
    <ul class="cb-slideshow">
        <li><span>我</span></li>
        <li><span>想</span></li>
        <li><span>成为</span></li>
        <li><span>你</span></li>
        <li><span>的</span></li>
        <li><span>恋人</span></li>
    </ul>
</section>